<div class="background">
  <div class="container">
    <h1>Edit Product</h1>
    <form id="edit-product-form" (ngSubmit)="editProduct()">
      <div class="form-group">
        <label for="product-name">Product Name</label>
        <input [(ngModel)]="productName" type="text" id="product-name" name="productName" required>
      </div>
      <div class="form-group">
        <label for="product-details">Product Details</label>
        <input [(ngModel)]="productDetails" type="text" id="product-details" name="productDetails" required>
      </div>
      <div class="form-group">
        <label for="product-price">Product Price</label>
        <input [(ngModel)]="productPrice" type="number" id="product-price" name="productPrice" required>
      </div>
      <div class="form-group">
        <label for="product-stock">Product Stock</label>
        <input [(ngModel)]="productStock" type="number" id="product-stock" name="productStock" required>
      </div>
      <div class="form-group">
        <label for="product-image">URL Product Image</label>
        <input [(ngModel)]="productImage" type="text" id="product-image" name="productImage" required>
      </div>
      <button type="submit" class="submit-button">Save Changes</button>
    </form>
  </div>
</div>
