

<button nz-button nzType="primary" nzDanger (click)="home()">home</button>

<!-- <div nz-row style="display: flex; justify-content: space-between;">
    <div nz-col style="background: rebeccapurple; width: 20rem; height: 20rem; ;"></div>
    <div nz-col style=" display: flex; justify-content: center;">
        <nz-card>
            <div class="CardA1" nz-card-grid [ngStyle]="gridStyle"
                style="margin-left: 1rem; margin-right: 1rem; margin-bottom: 2rem;">
                <div class="img1" nz-col><img src="assets/img/image 3.png" alt=""> </div>
                <div nz-col style="display: flex; align-items: center;">
                    <div> 200 <span>฿</span></div>
                    <button><span nz-icon nzType="shopping" nzTheme="twotone"></span></button>
                </div>
            </div>
            <div class="CardA2" nz-card-grid [ngStyle]="gridStyle"
                style="margin-left: 1rem; margin-right: 1rem; margin-bottom: 2rem;">
                <div class="img1" nz-col><img src="assets/img/image 6.png" alt=""></div>
                <div nz-col style="display: flex; align-items: center;">
                    <div> 225 <span>฿</span> </div>
                    <button><span nz-icon nzType="shopping" nzTheme="twotone"></span></button>
                </div>
            </div>
            <div class="CardA3" nz-card-grid [ngStyle]="gridStyle"
                style="margin-left: 1rem; margin-right: 1rem; margin-bottom: 2rem;">
                <div class="img1" nz-col><img src="assets/img/image 7.png" alt=""></div>
                <div nz-col style="display: flex; align-items: center;">
                    <div> 199 <span>฿</span></div>
                    <button><span nz-icon nzType="shopping" nzTheme="twotone"></span></button>
                </div>
            </div>
            <div class="CardA4" nz-card-grid [ngStyle]="gridStyle"
                style="margin-left: 1rem; margin-right: 1rem; margin-bottom: 2rem;">
                <div class="img1" nz-col><img src="assets/img/image 3.png" alt=""></div>
                <div nz-col style="display: flex; align-items: center;">
                    <div> 150 <span>฿</span></div>
                    <button><span nz-icon nzType="shopping" nzTheme="twotone"></span></button>
                </div>
            </div>
            <div class="CardA5" nz-card-grid [ngStyle]="gridStyle"
                style="margin-left: 1rem; margin-right: 1rem; margin-bottom: 2rem;">
                <div class="img1" nz-col><img src="assets/img/image 3.png" alt=""></div>
                <div nz-col style="display: flex; align-items: center;">
                    <div>250 <span>฿</span> </div>
                    <button><span nz-icon nzType="shopping" nzTheme="twotone"></span></button>
                </div>
            </div>
            <div class="CardA6" nz-card-grid [ngStyle]="gridStyle"
                style="margin-left: 1rem; margin-right: 1rem; margin-bottom: 2rem;">

            </div>
        </nz-card>
    </div>
    <div nz-col style="background: seagreen; width: 30rem; height: 30rem; ;"></div>
</div> -->
